<div class="row">
  <div class="col-4" *ngFor="let pizza of basePizza">
    <div class="card pizza-card" style="width: 100%;">
      <img class="card-img-top" :src="..\assets\images\farm-house.png" :alt="{{ pizza.name }}">
      <div class="card-body">
        <h5 class="card-title text-success mb-1">{{ pizza.name }}</h5>
        <p class="card-text pizza-ingredients">Delightful combination of <span *ngFor="let ingredient of pizza.ingredients;last as isLast">{{ingredient}}<span *ngIf="!isLast">, </span></span>.</p>
        <p *ngIf="!isPizzaCustomized"><strong>Price:</strong> &#x20B9; {{pizza.basePrice}}, <span class="pull-right"><strong>Size:</strong> Small</span></p>
        <button class="btn btn-primary btn-sm mr-2" (click)="openModal(customizePizzaModal,pizza)">Customise</button>
        <button class="btn btn-success btn-sm" (click)="AddToOrder(pizza)">Add To Cart</button>
      </div>
    </div>
  </div>
</div>
<ng-template #customizePizzaModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Customize Your Pizza</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-5 pizza-img" style="background-image: url('../assets/images/farm-house.png');">

      </div>
      <div class="col-7">
        <h4>{{ pizzaBeingCustomized.basePizza.name }} <br /><small>Price : &#x20B9; {{pizzaBeingCustomized.price}}</small></h4>
        A pizza loaded with <span *ngFor="let ingredient of pizzaBeingCustomized.basePizza.ingredients;last as isLast">{{ingredient}}<span *ngIf="!isLast">, </span></span>.
      </div>
    </div>
    <hr />

    <h6>Select Size</h6>
    <ul id="pizzaSize" class="row">
      <li class="col-4 text-center" *ngFor="let size of sizes">
        <div (click)="changeSize(size)" [ngClass]="{'selected': pizzaBeingCustomized.size == size}">
          <img src="..\assets\images\{{size}}.jpg" :alt="{{size}}" />
          {{size}}
        </div>
      </li>
    </ul>

    <h6>Select Crust</h6>
    <ul id="pizzaCrust" class="row">
      <li class="col-4 text-center" *ngFor="let crust of crusts">
        <div (click)="changeCrust(crust)" [ngClass]="{'selected': pizzaBeingCustomized.crust == crust}">
          {{crust}}
        </div>
      </li>
    </ul>

    <h6>Add Toppings - Rs. 20 each</h6>
    <ul id="toppings" class="row">
      <li class="col-6" *ngFor="let topping of toppings">
        <!--<img class="toppings-img" :src="..\assets\images\mashroom.jpg" :alt="{{ topping }}">-->
        <label>
          <input type="checkbox" name="toppings" (click)="chooseToppings(topping)" :value="topping" />
          {{ topping }}
        </label>
      </li>
    </ul>

    <h6>Select Sauces - Rs. 30 each</h6>
    <ul id="pizzaSauce" class="row">
      <li class="col-4 text-center" *ngFor="let sauce of sauces">
        <div (click)="changeSauce(sauce)" [ngClass]="{'selected': pizzaBeingCustomized.sauce == sauce}">
          {{sauce}}
        </div>
      </li>
    </ul>

    <h6><input type="checkbox" name="extraCheese" (click)="addCheese()" :value="extraCheese" [(ngModel)]="extraCheese" /> Add Extra Cheese - Rs. 60</h6>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-sm" (click)="AddToCart()">Add To Cart</button>
  </div>
</ng-template>
