<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <!-- <router-outlet></router-outlet> -->
    <h1>Hello!</h1>
    <p>Order Your Pizza</p>

    <div class="row">
      <div class="col-9">
        <app-home></app-home>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Cart</h5>
            <app-cart></app-cart>            
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
