<div class="order" *ngFor="let pizza of orderBeingPlaced.pizzas">
  <hr />
  <span class="remove-order-item text-danger" (click)="removeOrderItem(pizza)">X</span>
  <h6>{{pizza.basePizza.name}}</h6>
  <p>{{pizza.size}}, {{pizza.sauce}} {{pizza.crust}} Pizza <span *ngIf="pizza.extraCheese">with Extra Cheese</span></p>
  <p *ngIf="pizza.toppings.length">Extra Toppings: <span *ngFor="let topping of pizza.toppings;last as isLast">{{topping}}<span *ngIf="!isLast">, </span></span></p>
  <p>Price: <span class="text-success">&#x20B9; {{pizza.price}} </span></p>
</div>
<hr />
<h5><button class="btn btn-success btn-sm" *ngIf="orderBeingPlaced.pizzas.length" (click)="saveOrder()">Place Order</button> Total Bill: &#x20B9; {{orderBeingPlaced.bill}}</h5>

