<div class="order" *ngFor="let pizza of orderBeingCustomized.pizzas">
  <hr />
  <h6>{{pizza.basePizza.name}}</h6>
  <p>{{pizza.size}}, {{pizza.sauce}} {{pizza.crust}} Pizza <span *ngIf="pizza.extraCheese">with Extra Cheese</span></p>
  <p *ngIf="pizza.toppings.length">Extra Toppings: <span *ngFor="let topping of pizza.toppings;last as isLast">{{topping}}<span *ngIf="!isLast">, </span></span></p>
  <p>Price: <span class="text-success">&#x20B9; {{pizza.price}} </span></p>
</div>
<hr />
<h5>Total Bill: &#x20B9; {{orderBeingCustomized.bill}}</h5>
